body{
    margin: 0px;
    padding: 1px;
    background: linear-gradient(to left,#7808f0,#06bdf5);

}
.cal{
    width: 500px;
    padding-top: 100px;
    padding-bottom: 100px;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    transition: 0.25px;
    text-align: center;
}
#display{
    border: none;
    background-color: white;
    border-radius: 30px;
    width: 245px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 300px;
    height: 60px;
    margin: auto;
    border: 2px solid white;
    color: black;
    cursor: auto;
}
.btdesign{
    width: 55px;
    height: 55px;
    padding-top: -1px;
    border: none;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 300px;
    border-radius: 30px;
    margin: 1.5px;
    cursor: pointer;
}
.Operator{
    width: 55px;
    height: 55px;
    padding-top: -1px;
    border: none;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 300px;
    border-radius: 30px;
    margin: 1.5px;
    transition: 00.25px;
    cursor: pointer;
}
.Operator:hover{
    background: #00d9ff;
}
#Zero{
    width: 116px;
    height: 55px;
    padding-top: -1px;
    border: none;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 300px;
    border-radius: 30px;
    margin: 1.5px;
    transition: 00.25px;
    cursor: pointer;
}
h1{
    color: white;
    margin-top: 300px;
    margin-left: 100px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 700px;
    text-decoration: underline;
    font-size: 50px;
}
h2{
    color: white;
    margin-top: -30px;
    margin-left: 380px;
    font-weight: 500px;
    font-size: 30px;
}